In [1]:
from ast import literal_eval

In [2]:
import pandas as pd
import numpy as np
import warnings
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
warnings.filterwarnings(action='ignore')

In [3]:
datadf=pd.read_csv('./data/책영화리스트_8183.csv')
newdf=pd.read_csv('./data/pivot_all.csv')

In [4]:
len(datadf)

8187

In [5]:
del datadf['Unnamed: 0']

In [6]:
datadf.columns=['title','plot']

In [7]:
datadf = datadf[datadf['plot'].notnull()].reset_index(drop=True)
datadf.shape

(8183, 2)

In [14]:
# keydf=pd.read_csv('./data/keyword_0329.csv')
# kk = keydf[['title','rating','vote_count']]
# avg=keydf['rating']
# vt_cnt=keydf['vote_count']
# newdf=pd.merge(pb,kk,left_on='userid', right_on='title', how='left')
# newdf.to_csv('./data/pivot_all.csv')

# 코사인으로 쭉

In [804]:
len(book)

600

In [671]:
book.head()

,Unnamed: 0,title,author,plot
0,0,페스트,알베르 카뮈,극한의 절망 속에서도 억누를 수 없는 희망의 의지!20세기 실존주의 문학의 대표 작...
1,1,페스트,알베르 카뮈,"1947년 출간 직후 그해의 비평가상을 수상하고, 2차 세계대전 직후 최대의 걸작이..."
2,2,페스트,페스트,“신 없이 성자는 존재하는가? 20세기 프랑스 문학이 남긴 기념비적인 작품 1947...
3,3,우리가 빛의 속도로 갈 수 없다면,김초엽,"지난겨울까지 바이오센서를 만드는 과학도였던 김초엽 작가는, 이제 소설을 쓴다. 어디..."
4,4,증여론,마르셀 모스,"선물 교환에 관한 가장 체계적인 비교 연구서이며, 교환의 유형과 사회적 구조 사이의..."

In [672]:
len(book)

600

In [673]:
moviedf,bookdf=movie,book

In [14]:
# moviedf=movie[['id','title', 'original_title', 'vote_average', 'vote_count','overview','tagline']]

In [15]:
# bookdf = book[['isbn13','title', 'categories', 'average_rating', 'ratings_count','description','authors']]

In [674]:
moviedf['content']='m'
bookdf['content']='b'

In [247]:
# moviedf.columns=['id','title', 'genres', 'vote_average', 'vote_count','overview','keywords','label']
# bookdf.columns =['id','title', 'genres', 'vote_average', 'vote_count','overview','keywords','label']

In [675]:
del moviedf['Unnamed: 0']
del bookdf['Unnamed: 0']

In [676]:
del bookdf['author']

In [636]:
len(bookdf)

600

In [678]:
moviedf.head()

           title                                               plot content
0  스파이더맨: 노 웨이 홈    계략으로 세상에 정체가 탄로난 스파이더맨   하루 아침에 평범한 일상을 잃게 된...       m
1            아네트  예술가들의 도시   오페라 가수   꼬띠아르  스탠드업 코미디언   드라이버  첫눈...       m
2        학교 가는 길  전국 특수학교 재학생의 절반은 매일 왕복   거리를 통학하며 전쟁 같은 아침을 맞이...       m
3        학교 가는 길  아프가니스탄, 6살 소녀 박타이는 늘 그녀의 집 앞에서 책을 읽는 소년을 보고 자신...       m
4     쿠오바디스, 아이다    세르비아군이 마을을 공격하자 보스니아 사람들은 안전지역인   캠프로 피신한다. ...       m

In [609]:
dd=datadf[:6000]

In [679]:
dd=moviedf

In [680]:

for i in range(5900):
    if dd['title'][i] == dd['title'][i+1]:
            pl = dd['plot'][i]+dd['plot'][i+1]
            dd['plot'][i+1]=pl
            dd.drop(i,inplace=True)

In [681]:
len(dd)

5519

In [683]:
len(bookdf)

600

In [684]:
bbb=bookdf

In [685]:
len(bbb)

600

In [686]:
for i in range(500):
    if bbb['title'][i] == bbb['title'][i+1]:
            pl = bbb['plot'][i]+bbb['plot'][i+1]
            bbb['plot'][i+1]=pl
            bbb.drop(i,inplace=True)

In [687]:
len(bbb)

413

In [688]:
datadf=dd.append([bbb])

In [689]:
len(datadf)

5932

In [805]:
datadf.to_csv('./data/totallist.csv')

In [807]:
len(datadf)

5913

In [4]:
datadf=pd.read_csv('./data/책영화리스트.csv',encoding='utf-8')

In [9]:
del datadf['Unnamed: 0']

In [141]:
datadf = datadf[datadf['plot'].notnull()].reset_index(drop=True)
datadf.shape

(8183, 2)

## 코사인유사도

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer()

In [9]:
tfidf = TfidfVectorizer(stop_words='english')

In [10]:
tfidf_matrix = tfidf.fit_transform(datadf['plot'])
print(tfidf_matrix.shape)

(8183, 163167)

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_matrix = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [12]:
np.round(cosine_matrix, 4)

array([[1.    , 0.0028, 0.0019, ..., 0.005 , 0.0021, 0.0017],
       [0.0028, 1.    , 0.0141, ..., 0.0201, 0.0104, 0.0026],
       [0.0019, 0.0141, 1.    , ..., 0.    , 0.    , 0.0021],
       ...,
       [0.005 , 0.0201, 0.    , ..., 1.    , 0.0452, 0.006 ],
       [0.0021, 0.0104, 0.    , ..., 0.0452, 1.    , 0.0154],
       [0.0017, 0.0026, 0.0021, ..., 0.006 , 0.0154, 1.    ]])

In [13]:
datadf.drop_duplicates(keep='first', inplace=True)

In [14]:
datadf.columns=['title','plot']

In [15]:
# movie title와 id를 매핑할 dictionary를 생성해줍니다. 
title2id = {}
for i, c in enumerate(datadf['title']): title2id[i] = c

# id와 movie title를 매핑할 dictionary를 생성해줍니다. 
id2title = {}
for i, c in title2id.items(): id2title[c] = i

In [16]:
len(title2id)

8183

In [17]:
df=datadf

In [96]:
goal='m쇼생크 탈출'
idx = id2title[goal]
goalcate=goal[0]

In [97]:
df.loc[df['title'] ==goal]

        title                                               plot
1347  m쇼생크 탈출  촉망 받던 은행 부지점장 ‘ 팀 로빈슨   아내와 그 애인을 살해한 혐의로 종신형을...

In [98]:
same_sim_scores=[]
for i,c in enumerate(cosine_matrix[idx]):
    if title2id[i][0] ==goalcate and i !=idx:
        same_sim_scores.append((i,c))

In [99]:
diff_sim_scores=[]
for i,c in enumerate(cosine_matrix[idx]):
    if title2id[i][0]!=goalcate:
        diff_sim_scores.append((i,c))

In [100]:
same_sim_scores = sorted(same_sim_scores, key = lambda x: x[1], reverse=True)[0:15]
diff_sim_scores = sorted(diff_sim_scores, key = lambda x: x[1], reverse=True)[0:15]
same_result = [(title2id[i], score) for i, score in same_sim_scores]
diff_result=[(title2id[i], score) for i, score in diff_sim_scores]
same_result=pd.DataFrame(same_result)
diff_result=pd.DataFrame(diff_result)
same_result.columns=['title','similarity']
diff_result.columns=['title','similarity']
result=pd.concat([same_result,diff_result],axis=1)

In [101]:
result

            title  similarity          title  similarity
0           m스틸워터    0.124372             b포    0.031878
1         m언디스퓨티드    0.119381      b좀머 씨 이야기    0.021789
2           m프리즈너    0.096173            b중용    0.021454
3            m빠삐용    0.078903        b파이트 클럽    0.020542
4            m화소도    0.067250          b경성기담    0.019365
5          m스타드 업    0.065875       b시민의 불복종    0.018303
6        m7번방의 선물    0.065400  b방드르디, 태평양의 끝    0.016091
7     m시저는 죽어야 한다    0.063457   b우리들의 행복한 시간    0.015527
8          m신북두신권    0.060560            b속죄    0.015526
9       m집으로 가는 길    0.057356          b13계단    0.015361
10       m친절한 금자씨    0.051117            b강의    0.015152
11           m프리즌    0.050903            b질투    0.014126
12           m컨빅션    0.050875          b가시고기    0.012995
13  m잭 리처: 네버 고 백    0.049506    b미드나잇 라이브러리    0.012988
14        m인디안 썸머    0.047713       b걸리버 여행기    0.012370

In [51]:
def get_ctt(goal):
    idx = id2title[goal]
    goalcate=goal[0]
    same_sim_scores=[]
    diff_sim_scores=[]
    for i,c in enumerate(cosine_matrix[idx]):
        if title2id[i][0] ==goalcate and i !=idx:
            same_sim_scores.append((i,c))
        if title2id[i][0]!=goalcate:
            diff_sim_scores.append((i,c))
    same_sim_scores = sorted(same_sim_scores, key = lambda x: x[1], reverse=True)[0:15]
    diff_sim_scores = sorted(diff_sim_scores, key = lambda x: x[1], reverse=True)[0:15]
    same_result = [(title2id[i], score) for i, score in same_sim_scores]
    diff_result=[(title2id[i], score) for i, score in diff_sim_scores]
    same_result=pd.DataFrame(same_result)
    diff_result=pd.DataFrame(diff_result)
    same_result.columns=['title','similarity']
    diff_result.columns=['title','similarity']
    result=pd.concat([same_result,diff_result],axis=1)
    return diff_result

In [52]:
def get_ctt_b(goal):
    idx = id2title[goal]
    goalcate=goal[0]
    same_sim_scores=[]
    diff_sim_scores=[]
    for i,c in enumerate(cosine_matrix[idx]):
        if title2id[i][0] ==goalcate and i !=idx:
            same_sim_scores.append((i,c))
        if title2id[i][0]!=goalcate:
            diff_sim_scores.append((i,c))
    same_sim_scores = sorted(same_sim_scores, key = lambda x: x[1], reverse=True)[0:15]
    diff_sim_scores = sorted(diff_sim_scores, key = lambda x: x[1], reverse=True)[0:15]
    same_result = [(title2id[i], score) for i, score in same_sim_scores]
    diff_result=[(title2id[i], score) for i, score in diff_sim_scores]
    same_result=pd.DataFrame(same_result)
    diff_result=pd.DataFrame(diff_result)
    same_result.columns=['title','similarity']
    diff_result.columns=['title','similarity']
    result=pd.concat([same_result,diff_result],axis=1)
    return same_result

In [53]:
def get_ans(user,book):
    ans=newdf[['title',user]]
    try:
        res=ans[ans['title']==book].values[0][1]
    except:
        res=0
    return res

In [54]:
newdf.head(3)

,Unnamed: 0,userid,24BqEWE785rjn,2mwvg7EagvMa7,2mwvgaAjwxMa7,2mwvgbGLgqMa7,2mwvggAE2vMa7,2mwvgLpo25Ma7,2mwvgYmarxMa7,36lvX3jzZqXdn,...,ZBm5RNnk95d46,ZBm5RVn735d46,zNM5N1gz7v26j,zNM5NARwPGv26,ZWpqMaWa1qrkn,ZWpqMMERlqrkn,총합계,title,rating,vote_count
0,0,newtitle,rating(합계),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,b10 1/2장으로 쓴 세계 역사,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,b10 1/2장으로 쓴 세계 역사,4.0,1.0
2,2,b1001개의 거짓말,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.5,b1001개의 거짓말,3.5,1.0

In [55]:
newdf[newdf['title']=='b아몬드'].values[0][1]

'b아몬드'

In [56]:
def get_vtcnt(book):
    ans=newdf[['title','vote_count']]
    try:
        res=ans[ans['title']==book].values[0][1]
    except:
        res=0
    return res

In [57]:
def get_avg_rt(book):
    ans=newdf[['title','rating']]
    try:
        res=ans[ans['title']==book].values[0][1]
    except:
        res=0
    return res

In [58]:
search = goal

In [4]:
content=[]
for i in range(len(newdf)):
    now = str(newdf['title'][i])
    if now[0]=='b':
        content.append('b')
    elif now[0]=='m':
        content.append('m')
    else:
        content.append('no')

In [5]:
newdf['content']=content

In [6]:
newdf.head(5)

,Unnamed: 0,userid,24BqEWE785rjn,2mwvg7EagvMa7,2mwvgaAjwxMa7,2mwvgbGLgqMa7,2mwvggAE2vMa7,2mwvgLpo25Ma7,2mwvgYmarxMa7,36lvX3jzZqXdn,...,ZBm5RVn735d46,zNM5N1gz7v26j,zNM5NARwPGv26,ZWpqMaWa1qrkn,ZWpqMMERlqrkn,총합계,title,rating,vote_count,content
0,0,newtitle,rating(합계),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no
1,1,b10 1/2장으로 쓴 세계 역사,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,b10 1/2장으로 쓴 세계 역사,4.0,1.0,b
2,2,b1001개의 거짓말,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.5,b1001개의 거짓말,3.5,1.0,b
3,3,b11분,NaN,3.0,3.5,NaN,NaN,3.5,4.5,NaN,...,NaN,NaN,NaN,NaN,NaN,77.0,b11분,3.5,22.0,b
4,4,b13.67,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,42.5,b13.67,3.9,11.0,b

In [8]:
newdf.to_csv('./data/pivot_all.csv')

In [7]:
del newdf['Unnamed: 0']

## Eval

In [43]:
atitle2id = {}
for i, c in enumerate(newdf['title']): atitle2id[i] = c

# id와 movie title를 매핑할 dictionary를 생성해줍니다. 
aid2title = {}
for i, c in atitle2id.items(): aid2title[c] = i

In [422]:
def user_pref(user):
    a=newdf[newdf[user]>=4.5].sort_values(by='rating', ascending=False).head(30)
    a=a[['title','rating','vote_count','content']]
    # m = 사용자가 평점 높게 준 영화 목록
    m = a[a['content']=='m'].head(20)
    m=m['title'].values
    #각 영화와 유사도 높은 책 목록 구하기
    rec_book=dict()
    for movie in m:
#         for i in range(10):
#             book, sim = get_ctt(movie).iloc[0][0] , get_ctt(movie).iloc[0][1]
#         for book in get_ctt(movie)['title'][:3]:
        for book in get_ctt(movie)['title']:
            if book not in rec_book:
                rec_book[book]=1
            elif book in rec_book:
                rec_book[book]+=1
    rec_book=pd.DataFrame.from_dict(rec_book,orient='index')
    rec_book.columns=['sim']
    ## 책 목록에 대하여 유저가 남긴 평점 구하기
    return rec_book

In [423]:
def rmse(y,pred):
    mse = mean_squared_error(y,pred)
    return np.sqrt(mse)
def mae(y,pred):
    return mean_absolute_error(y,pred)
def mape(y,pred):
    return np.mean(np.abs((y-pred)/y)*100)

In [500]:
def user_pref_book(user,min_rt):
    a=newdf[newdf[user]>=min_rt].sort_values(by='rating', ascending=False)
    a=a[['title','rating','vote_count','content']]
    # m = 사용자가 평점 높게 준 영화 목록
    m = a[a['content']=='b']
    m=m['title'].values
    return m

In [188]:
def weight(record):
    v= record['vote_count']
    R=record['avg_rating']
    S=record['sim']
    return ((v/(v+m))*R)+((m/(m+v))*C+(v/v+m)*S*0.05)

In [454]:
user='36lvXmWQZ5Xdn'

In [455]:
rec_book=user_pref(user)

In [456]:
rats=[]
vc=[]
avg_rt=[]
for i in range(len(rec_book)):
    book = rec_book.index[i]
    rat = get_ans(user,book)
    vote= get_vtcnt(book)
    avg_rating=get_avg_rt(book)
    rats.append(rat)
    vc.append(vote)
    avg_rt.append(avg_rating)
rec_book['user_rating']=rats
rec_book['vote_count']=vc
rec_book['avg_rating']=avg_rt

rec_book=rec_book.fillna(0)

## 평점 계산

In [457]:
percentile=0.6
m=rec_book['vote_count'].quantile(percentile)
C=rec_book['avg_rating'].mean()
rec_book['pred']=rec_book.apply(weight,axis=1)

In [458]:
rec_book['pred']=rec_book.apply(weight,axis=1)

In [459]:
rec_book.sort_values(by=['user_rating'],ascending=False)

              sim  user_rating  vote_count  avg_rating      pred
b나르치스와 골드문트     1          4.0        10.0         4.3  4.433000
b질투             1          4.0         3.0         3.3  3.930889
b빙점             1          4.0         5.0         4.3  4.334364
b1984           1          4.0        47.0         4.3  4.584491
b운명             2          4.0         7.0         3.9  4.517538
...           ...          ...         ...         ...       ...
b네루다의 우편배달부     2          0.0         9.0         4.1  4.648533
b모렐의 발명         2          0.0         2.0         3.5  4.366000
b바리데기           1          0.0        17.0         3.3  3.759913
b송시열과 그들의 나라    1          0.0         1.0         3.5  4.039714
b사랑의 단상         1          0.0         5.0         4.3  4.334364

[225 rows x 5 columns]

In [460]:
rec_book=rec_book.fillna(0)

In [461]:
user_rec=rec_book[rec_book['user_rating']>0]

In [501]:
min_rec=min(user_rec['user_rating'].values)

In [502]:
min_rec

3.0

In [503]:
y=user_rec['user_rating']
pred=user_rec['pred']

In [505]:
#user가 4점 이상 준 모든 책
user_4 = user_pref_book(user,min_rec)
len(user_4)

122

In [516]:
y=user_rec['user_rating']
pred=user_rec['pred']
user_like=len(user_rec)
recal=user_like/len(user_4)
prek=user_like/len(rec_book)
print('RMSE : ', rmse(y,pred))
print('MAE : ', mae(y,pred))
print('MAPE : ', mape(y,pred))
print('Recall@K : ', recal)
print('Precision@K : ',prek)

RMSE :  0.7302932315465107
MAE :  0.6238200742450035
MAPE :  17.351182013494608
Recall@K :  0.3442622950819672
Precision@K :  0.18666666666666668

## 책기반 책추천시스템

In [507]:
def user_pref_b(user):
    a=newdf[newdf[user]>=0].sort_values(by='rating', ascending=False)
    a=a[['title','rating','vote_count','content']]
    # m = 사용자가 평점 높게 준 영화 목록
    m = a[a['content']=='b']
    m=m['title'].values
    #각 영화와 유사도 높은 책 목록 구하기
    rec_book=dict()
    for movie in m:
        for book in get_ctt_b(movie)['title']:
            if book not in rec_book:
                rec_book[book]=1
            elif book in rec_book:
                rec_book[book]+=1
    rec_book=pd.DataFrame.from_dict(rec_book,orient='index')
    rec_book.columns=['sim']
    ## 책 목록에 대하여 유저가 남긴 평점 구하기
    return rec_book

In [518]:
## 책함수채우기
def book_fc(data):
    rats=[]
    vc=[]
    avg_rt=[]
    for i in range(len(data)):
        book = data.index[i]
        rat = get_ans(user,book)
        vote= get_vtcnt(book)
        avg_rating=get_avg_rt(book)
        rats.append(rat)
        vc.append(vote)
        avg_rt.append(avg_rating)
    data['user_rating']=rats
    data['vote_count']=vc
    data['avg_rating']=avg_rt
    return data

In [519]:
bbyb= user_pref_b(user)

In [520]:
bbyb=book_fc(b_by_b)
bbyb=bbyb.fillna(0)

In [521]:
percentile=0.6
m=bbyb['vote_count'].quantile(percentile)
C=bbyb['avg_rating'].mean()
bbyb['pred']=bbyb.apply(weight,axis=1)

In [522]:
user_rec_b=bbyb[bbyb['user_rating']>0]

In [523]:
user_rec_b

           sim  user_rating  vote_count  avg_rating      pred
b달과 6펜스      1          4.0        33.0         4.1  4.328919
b19호실로 가다    1          3.5         4.0         3.6  4.002500
b앵무새 죽이기     1          3.5        28.0         3.9  4.150625
b털없는 원숭이     1          3.5         1.0         3.5  4.074000
b클라라와 태양     1          3.5         7.0         3.5  3.897273
b생의 이면       1          4.0         9.0         4.2  4.359231

In [524]:
y=user_rec_b['user_rating']
pred=user_rec_b['pred']
user_like=len(user_rec_b)
recal=user_like/len(user_4)
prek=user_like/len(bbyb)
print('RMSE : ', rmse(y,pred))
print('MAE : ', mae(y,pred))
print('MAPE : ', mape(y,pred))
print('Recall@K : ', recal)
print('Precision@K : ',prek)

RMSE :  0.48310715878995764
MAE :  0.4687579025704027
MAPE :  12.983470020970023
Recall@K :  0.04918032786885246
Precision@K :  0.3